# pip install -r requirements.py
# pip3 freeze > requirements.txt
appdirs==1.4.4
asgiref==3.3.4
bootstrap-admin==0.4.4
distlib==0.3.1
Django==3.0
django-ckeditor==6.0.0
django-js-asset==1.2.2
django-taggit==1.4.0
filelock==3.0.12
mysqlclient==2.0.3
Pillow==8.2.0
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
virtualenv==20.4.6
django-taggit==1.4.0
django-adminlte-3==0.1.6