{% extends 'opensource/base.html' %} {% load static %} {% block title_block %}
{{student.fname}} {{student.lname}} {% endblock %} {% block content %}
<!-- Post content-->
<article>
  <!-- Post header-->
  <header class="mb-4">
    <!-- Post title-->
    <h1 class="fw-bolder mb-1">{{post.title}}</h1>
    <!-- Post meta content-->
    <div class="text-muted fst-italic mb-2">
      Posted on {{post.created_on}} by {{post.author}}
    </div>
    <!-- Post categories-->
    <a
      class="badge bg-info text-decoration-none"
      href="{% url 'category' post.category.id %}"
      >{{post.category}}</a
    >
  </header>
  <!-- Preview image figure-->
  <figure class="mb-4">
    <img
      class="img-fluid rounded w-100"
      src="{% static post.get_image %}"
      alt="{{post.title}}"
    />
  </figure>
  <!-- Post content-->
  <section class="mb-5">{{post.content | safe}}</section>

  {% if post.tags.all %}

  <!-- Post tags-->
  <div class="my-4">
    Tags: {% for tag in post.tags.all %}
    <a
      class="badge bg-secondary text-decoration-none"
      href="{% url 'tagged' tag.slug %}"
      >{{tag}}</a
    >
    {% endfor %}
  </div>
  {% else %}
  <p>Tags: No tags yet</p>
  {% endif %}
</article>

{% if user.is_authenticated %}

<div id="like-post">
  <form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %} {% if isLiked %}
    <button
      type="submit"
      class="btn btn-danger btn-sm"
      name="post_id"
      value="{{post.id}}"
    >
      Unlike ({{post.total_likes}})
    </button>
    {% else %}
    <button
      type="submit"
      class="btn btn-primary btn-sm"
      name="post_id"
      value="{{post.id}}"
    >
      Like ({{post.total_likes}})
    </button>
    {% endif %}
  </form>
</div>

{% else %} Likes: ({{post.total_likes}}) {% endif %}

<!-- Comments section-->
<section id="commects" class="my-5">
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="mb-4">Comments</h5>

      <!-- Single comment-->
      {% if not comments %}
      <h4 class="text-muted text-center">Not Comments yet</h4>
      {% else %} {% for comment in comments %}

      <div class="single-comment d-flex border p-2 bg-white mb-2">
        <div class="">
          <div class="fw-bold">{{comment.user.username}}</div>
          <div class="text-muted fst-italic mb-2">{{comment.date_added}}</div>
          {{comment.body}}
        </div>
      </div>

      <!-- !//////////////////////////////// -->
      {% for child_comment in comment.children %}
      <div
        class="
          single-reply
          d-flex
          p-2
          bg-white
          mb-2
          ms-5
          border-start border-info border-5
        "
      >
        <div class="">
          <div class="fw-bold">{{child_comment.user.username}}</div>

          <div class="text-muted fst-italic mb-2">
            {{child_comment.date_added}}
          </div>
          {{child_comment.body}}
        </div>
      </div>
      {% endfor%}
      <!-- ///////// -->
      {% if user.is_authenticated %}

      <!-- !reply -->
      <div class="ms-5">
        <h5 class="mt-4">Add a reply</h5>
        <!-- Comment form-->
        <form method="POST" id="add-comment" class="mb-4">
          {% csrf_token %}
          <div class="input-group mb-2">{{commentForm}}</div>
          <div class="d-flex justify-content-end">
            <input type="hidden" name="parent_id" value="{{comment.id}}" />
            <!-- <input type="text" name='parent_idz' value="{{comment.parent_id}}" disabled> -->
            <button type="submit" vlaue="reply" class="btn btn-primary">
              Submit
            </button>
          </div>
        </form>
      </div>
      {% endif %} {% endfor%} {% endif%} {% if user.is_authenticated %}

      <h5 class="mt-4">Add a Comment</h5>
      <!-- Comment form-->
      <form method="POST" id="add-comment" class="mb-4">
        {% csrf_token %}
        <div class="input-group mb-2">{{commentForm}}</div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      {% else %}
      <h6 class="text-center my-4 alert alert-info">
        Login to participate in comments
      </h6>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
